.card {
    margin: 2rem auto;
}

.form-card {
    width: 40%; 
}

.main-textbox {
    margin-bottom: 1rem;
}

h3 {
    margin-top: 2rem;
    text-align: center;
}

.center {
    text-align: center;
}

.results {
    width: 50%;
    margin: auto;
}
