{% extends "basic.html" %}

{% block title %}Log In{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}

{% block content %}
<div class="container">
    <h3>Log in to Rainy Day</h3>
    <div class="card form-card">
        <div class="card-body">
            <form action="{{ url_for('login') }}" method="POST">
                <input name="username" type="text" class="form-control form-control-lg main-textbox" 
                    placeholder="Username" aria-label="Username" required>
                <input name="password" type="password" class="form-control form-control-lg main-textbox" 
                    placeholder="Password" aria-label="Password" required>
                <button type="submit" class="btn btn-primary btn-block btn-lg main-textbox">Log In</button>
            </form>
            <a class="btn btn-secondary btn-block" href="{{ url_for('signup') }}" role="button">Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}