{% extends "basic.html" %}

{% block title %}Search: {{ query }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}

{% block content %}
<div class="container">
    <h3>Search Results</h3>
    <p class="center">You searched for "{{ query }}".</p>
    <table class="table table-striped results">
        <tbody>
            <tr>
                <th>Zipcode</th>
                <th>City Name</th>
                <th>Population</th>
                <th>Details</th>
            </tr>
            {% for result in results %}
                <tr>
                    <td>{{ result[0] }}</td>
                    <td>{{ result[1]|capitalize }}, {{ result[2]|upper }}</td>
                    <td>{{ result[3] }}</td>
                    <td><a class="btn btn-primary" href="{{ url_for('weather', zipcode=result[0]) }}" role="button">View Weather</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}