{% extends "basic.html" %}

{% block title %}{{ zipinfo[1]|capitalize }}, {{ zipinfo[2]|upper }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Weather info for {{ zipinfo[1]|capitalize }}, {{ zipinfo[2]|upper }}</h3>
            <div class="card">
                <div class="card-header">
                    Current Conditions
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ weather.currently.summary }}</h4>
                    <p class="card-text">Temperature: <strong>{{ weather.currently.temperature }}°F</strong> 
                        <em>(feels like {{ weather.currently.apparentTemperature }}°F)</em><br />
                    Humidity: <strong>{{ (weather.currently.humidity * 100)|int }}%</strong> <br />
                    Dew Point: <strong>{{ weather.currently.dewPoint }}°F</strong> <br />
                    Atmospheric Pressure: <strong>{{ weather.currently.pressure }} mb</strong> <br />
                    Wind Speed: <strong>{{ weather.currently.windSpeed }} mph</strong> 
                        <em>(gusting to {{ weather.currently.windGust }} mph)</em><br />
                    UV Index: <strong>{{ weather.currently.uvIndex }}</strong>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Today's Forecast
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ weather.daily.data[0].summary }}</h4>
                    <p class="card-text">Highest Temperature: <strong>{{ weather.daily.data[0].temperatureHigh }}°F</strong> 
                        <em>(feels like {{ weather.daily.data[0].apparentTemperatureMax }}°F)</em><br />
                    Lowest Temperature: <strong>{{ weather.daily.data[0].temperatureLow }}°F</strong> 
                        <em>(feels like {{ weather.daily.data[0].apparentTemperatureMin }}°F)</em><br />
                    Humidity: <strong>{{ (weather.daily.data[0].humidity * 100)|int }}%</strong> <br />
                    Dew Point: <strong>{{ weather.daily.data[0].dewPoint }}°F</strong> <br />
                    Atmospheric Pressure: <strong>{{ weather.daily.data[0].pressure }} mb</strong> <br />
                    Wind Speed: <strong>{{ weather.daily.data[0].windSpeed }} mph</strong> 
                        <em>(gusting to {{ weather.daily.data[0].windGust }} mph)</em><br />
                    UV Index: <strong>{{ weather.daily.data[0].uvIndex }}</strong>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Tomorrow's Forecast
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ weather.daily.data[1].summary }}</h4>
                    <p class="card-text">Highest Temperature: <strong>{{ weather.daily.data[1].temperatureHigh }}°F</strong> 
                        <em>(feels like {{ weather.daily.data[1].apparentTemperatureMax }}°F)</em><br />
                    Lowest Temperature: <strong>{{ weather.daily.data[1].temperatureLow }}°F</strong> 
                        <em>(feels like {{ weather.daily.data[1].apparentTemperatureMin }}°F)</em><br />
                    Humidity: <strong>{{ (weather.daily.data[1].humidity * 111)|int }}%</strong> <br />
                    Dew Point: <strong>{{ weather.daily.data[1].dewPoint }}°F</strong> <br />
                    Atmospheric Pressure: <strong>{{ weather.daily.data[1].pressure }} mb</strong> <br />
                    Wind Speed: <strong>{{ weather.daily.data[1].windSpeed }} mph</strong> 
                        <em>(gusting to {{ weather.daily.data[1].windGust }} mph)</em><br />
                    UV Index: <strong>{{ weather.daily.data[1].uvIndex }}</strong>
                    </p>
                </div>
            </div>
            <p class="lead center">{{ zipinfo[1]|capitalize }}, {{ zipinfo[2]|upper }} {{ zipinfo[0] }}<br />
            Latitude {{ zipinfo[3] }} | Longitude {{ zipinfo[4] }}<br />
            Population: {{ zipinfo[5] }}</p>
        </div>
        
        <div class="col-md-6">
            <h3>Comments ({{ comments|length }})</h3>
            <div class="card">
                <div class="card-header">
                    Submit new comment:
                </div>
                <div class="card-body">
                    <form action="{{ url_for('checkin') }}" method="POST">
                        <!-- long line because text areas render extra whitespace -->
                        <textarea class="form-control main-textbox" name="comment" rows="3" {% if posted %}disabled{% endif %}>{% if posted %}You can only submit one comment per day. Come back tomorrow!{% endif %}</textarea>
                        <input type="hidden" name="zipcode" value="{{ zipinfo[0] }}" />
                        <button type="submit" class="btn btn-primary" {% if posted %}disabled{% endif %}>Submit</button>
                    </form>
                </div>
            </div>
            <hr />
            {% for comment in comments %}
                <div class="card">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ comment.comment }}</p>
                            <footer class="blockquote-footer"><strong>{{ comment.username }}</strong> on {{ comment.date }}</footer>
                        </blockquote>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}